.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Octopussy', root_path, class: 'navbar-brand'
    - if logged_in?
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          = navbar_link_to 'Vehicles', :vehicles, :index
          = navbar_link_to 'Sign Out', :sessions, :destroy, {}, method: :delete
      / /.nav-collapse
  / /.container-fluid
